<h2>配送先登録／一覧</h2>

<%= form_for(delivery, url: deliveries_path) do |f| %>
	<table class="table">
			<tr>
				<th><%= f.label :postal_code, "郵便番号(ハイフンなし7桁)" %></th>
				<td><%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "郵便番号" %></td>
			</tr>
			<tr>
				<th><%= f.label :destination, "住所" %></th>
				<td><%= f.text_field :destination, autocomplete: "destination", placeholder: "住所" %></td>
			</tr>
			<tr>
				<th><%= f.label :name, "宛名" %></th>
				<td><%= f.text_field :name, autocomplete: "name", placeholder: "宛名" %></td>
			</tr>
	</table>
<% end %>
