<h2>配送先登録／一覧</h2>

<%= form_for(delivery, url: deliveries_path) do |f| %>
	<table class="table">
			<tr>
				<th><%= f.label :postal_code, "郵便番号(ハイフンなし7桁)" %></th>
				<td><%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "郵便番号" %></td>
			</tr>
			<tr>
				<th><%= f.label :destination, "住所" %></th>
				<td><%= f.text_field :destination, autocomplete: "destination", placeholder: "住所" %></td>
			</tr>
			<tr>
				<th><%= f.label :name, "宛名" %></th>
				<td><%= f.text_field :name, autocomplete: "name", placeholder: "宛名" %></td>
			</tr>
	</table>
<% end %>

<table class="table">
	<thead>
		<tr>
			<th>郵便番号</th>
			<th>住所</th>
			<th>宛名</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= @deliveries.each do |delivery| %>
		<tr>
			<td><%= delivery.postal_code %></td>
			<td><%= delivery.destination %></td>
			<td><%= delivery.name %></td>
			<td><%= link_to "編集", edit_delivery_path(delivery) %> / <%= link_to "削除", delivery_path(delivery), method: :delete, "date-confirm" => "本当に削除してもよろしいでしょうか" %> </td>
		</tr>
		<% end %>
	</tbody>
</table>
