<!DOCTYPE html>
<html>
  <head>
    <title>Ecsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar">
      <div class="container">
        <nav>
          <ul class="nav">
            <%= link_to 'HOGEGE', root_path %>
          </ul>
        </nav>
        <nav>
          <ul class="nav justify-content-end">
              <!-- 顧客ログイン時 -->
            <% if customer_signed_in? %>
              <li id="nav-message">　ようこそ、さん！　</li>
              <li><%= link_to "mypage", customer_path(current_customer) %></li>
              <li><%= link_to ' 商品一覧', items_path %></li>
              <li><%= link_to ' カート', "#" %></li>
              <li><%= link_to ' ログアウト', "#" %></li>
            <!-- 管理者ログイン時 -->
            <% elsif admin_signed_in? %>
              <li id="nav-message">　お帰りなさい、管理者様　</li>
              <li><%= link_to ' 商品一覧', admin_items_path %></li>
              <li><%= link_to ' 会員一覧', admin_customers_path %></li>
              <li><%= link_to ' 注文履歴一覧', "#" %></li>
              <li><%= link_to ' ジャンル一覧', admin_genres_path %></li>
              <li><%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %></li>
              <!-- ログアウト時またはログインしていない時 -->
            <% else %>
              <li><%= link_to ' ABOUT', homes_about_path %></li>
              <li><%= link_to ' HELP', "#" %></li>
              <li><%= link_to ' REGISTRATION', new_customer_registration_path %></li>
              <li><%= link_to ' LOGIN', new_customer_session_path %></li>
              <li><%= link_to ' 管理者の方はこちら', new_admin_session_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-2">
            <nav>
              <ul>
                <li>ニュース</li>
                <li>ショッピングガイド</li>
                <li>ご利用規則</li>
                <li>プライバシーポリシー</li>
                <li>採用情報</li>
              </ul>
            </nav>
          </div>
          <div class="col-md-2">
            <nav>
              <h4>BLANDS</h4>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </nav>
          </div>
          <div class="col-md-6">
          </div>
          <div class="col-md-2">
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
